* {
    box-sizing: border-box;
}

body {
  margin: 0;
}
h3 {
  display: Block;
}

.worldcup{
  width:400px;
  height:250px;
}
.mytablestyle{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.mytablestyle td, .mytablestyle th{
  border: 1px solid black;
    padding: 8px;
}
.mytablestyle th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: gold;
}
.mytablestyle td{
    text-align: center;
    color: black;
}

/* Style the header */
.header {
    background-color: blue;
    padding: 20px;
    text-align: center;
    color:gold;
}
.lltable{
  width:350px;
}
.lltable2{
  width:500px;
}
.llgoals{
  width:300px;
  height:200px;
}
.llgoals2{
  width:400px;
  
}
.llnews{
  float:right;
  width:400px;
}
.pulisic{
  width: 400px
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: black;
    color: gold;
}

/* indicate active page on nav */
.active {
    background-color: gold;
    color:black;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}



/* Middle column */
.column.middle {
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
